{ 
	BasedOnStyle: Google, 
	UseTab: Always, 
	TabWidth: 4, 
	IndentWidth: 4, 
	ColumnLimit: 0,
	AlignAfterOpenBracket: Align,
	IndentPPDirectives: BeforeHash,
	
	AlignConsecutiveAssignments: true,  
	AlignConsecutiveDeclarations : true ,


	AlignConsecutiveMacros: AcrossEmptyLinesAndComments,
	AllowShortBlocksOnASingleLine : Never,
	AllowShortFunctionsOnASingleLine: None,
	AllowShortEnumsOnASingleLine: false,
    AllowShortIfStatementsOnASingleLine: false,

}
